/ffmpeg/bin
/config/serversettings.json
/cookies.txt
/config/__pycache__
/config/queues.json
/utils/__pycache__
/config/bot_token.txt
/ffmpeg.exe
/utils/picchanger.py
/cogs/__pycache__
/playlists
/video_streaming/__pycache__
/video_streaming/static/video.webm
/.venv
/venv