/* styles.css */

:root {
    --primary-color: #0f97f1;
    --secondary-color: #121314;
    --tertiary-color: #7a2ef3;
    --quaternary-color: #2de6b7;
    --quinary-color: #c91e1e;
}

:host{
    background-color: var(--quinary-color);
}

body {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 70vh; 
}

video {
    aspect-ratio: 16/9;
    background-color: var(--secondary-color);
    max-height: 90%;
    min-height: 70%;
}
