<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Video Player</title>
    <!-- Include HLS.js -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
</head>
<body class="">
    <h1>g59 video streaming</h1>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <video id="video" controls></video>
    <script>
        var video = document.getElementById('video');
        var url = "{{url}}";

        if (url !== null && url !== "") {
            if (Hls.isSupported()) {
                var hls = new Hls();
                hls.loadSource(url);
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED,function() {
                    // video.play();
                });
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = url;
                video.addEventListener('canplay',function() {
                    // video.play();
                });
            }
        } else {
            video.src = "{{url_for('static', filename='video.webm')}}";
            video.addEventListener('canplay', function() {
                // video.play();
            });
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var seeking = false; 
        var playInProgress = false; // Flag to track whether a play event is in progress
        var pauseInProgress = false; // Flag to track whether a pause event is in progress
        var videoState = 'paused'; // Track the current video state ('playing' or 'paused')
        var seeking = false; // Flag to track whether seeking is in progress

        socket.on('play_video', function() {
            if (videoState === 'paused') {
                playInProgress = true;
                video.play().then(function() {
                    playInProgress = false;
                    videoState = 'playing';
                }).catch(function(error) {
                    console.error('Error while trying to play the video:', error);
                    playInProgress = false;
                });
            }
        });

        socket.on('pause_video', function() {
            if (videoState === 'playing') {
                pauseInProgress = true;
                video.pause();
                pauseInProgress = false;
                videoState = 'paused';
            }
        });

        socket.on('seek_video', function(data) {
            if (!seeking && video.currentTime !== data.time) {
                seeking = true;
                video.pause(); // Pause the video during seeking
                video.currentTime = data.time;
            }
        });

        video.addEventListener('seeked', function() {
            socket.emit('seek_video', { time: video.currentTime });
            seeking = false; // Seeking is complete
            // Videos remain paused until someone presses play
        });

        video.addEventListener('play', function() {
            if (!playInProgress && videoState === 'paused' && !seeking) {
                socket.emit('play_video');
            }
        });

        video.addEventListener('pause', function() {
            if (!pauseInProgress && videoState === 'playing' && !seeking) {
                socket.emit('pause_video');
            }
        });

    </script>
</body>
</html>
