<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Video Player</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
</head>
<body class="">
    <h1>g59 video streaming</h1>
    <video id="videoPlayer" controls>
        <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <br>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var videoPlayer = document.getElementById('videoPlayer');
        var seeking = false; // Flag to track seeking action
        var playTimeout = null;
        var pauseTimeout = null;

        socket.on('play_video', function() {
            clearTimeout(pauseTimeout);
            if (videoPlayer.paused && !seeking) {
                playTimeout = setTimeout(function() {
                    videoPlayer.play();
                }, 100); 
            }
        });

        socket.on('pause_video', function() {
            clearTimeout(playTimeout);
            if (!videoPlayer.paused && !seeking) {
                pauseTimeout = setTimeout(function() {
                    videoPlayer.pause();
                }, 100);
            }
        });

        socket.on('seek_video', function(data) {
            if (!seeking) {
                videoPlayer.currentTime = data.time;
            }
        });
        videoPlayer.addEventListener('timeupdate', function() {
            if (!seeking) {
                socket.emit('update_video_state', { time: videoPlayer.currentTime, state: videoPlayer.paused ? 'paused' : 'playing' });
            }
        });
        videoPlayer.addEventListener('play', function() {
            clearTimeout(pauseTimeout);
            if (!seeking) {
                socket.emit('play_video');
            }
        });
        videoPlayer.addEventListener('pause', function() {
            clearTimeout(playTimeout);
            if (!seeking) {
                socket.emit('pause_video');
            }
        });
        videoPlayer.addEventListener('seeking', function() {
            seeking = true;
            setTimeout(function() {
                seeking = false;
            }, 100); 
        });
        videoPlayer.addEventListener('seeked', function() {
            socket.emit('seek_video', { time: videoPlayer.currentTime });
        });
    </script>
</body>
</html>
